<pool type="logical">
  <name>{{virt_pool.key}}</name>
  <source>
{% if virt_pool.value.all_devices is defined and virt_pool.value.all_devices %}
{% for device in available_partitions %}
    <device path="{{device}}"/>
{% endfor %}
{% else %}
{% for device in virt_pool.value.devices %}
    <device path="{{device}}"/>
{% endfor %}
{% endif %}
  </source>
  <target>
    <path>/dev/{{virt_pool.key}}</path>
  </target>
</pool>

