---
- include: hash_and_gpg.yml
  when: cd_check_hash_and_signature 
- include: download.yml
- include: convert.yml 
- include: store_facts.yml
  #  when: cd_images_distro_cloud_download_result.changed
